@import "./_reset.css";
@import "./dsleditor.css";


.full-viewport {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
